.input-parqueo {
    display: inline-flex;
    flex-wrap: nowrap;
    gap: 10px;
}

.btn {
    gap: 10px;
}

.fila {
    display: flex;
    justify-content:flex-start;
}

.btn-primary {
    display:flex;
    margin-right: 5px;
    margin-bottom: 5px;
    width: min-content;
    padding-left: 50%;
    
}

.btn-espacio {
    width: 70px; /* Ancho del botón en píxeles */
    height: 85px; /* Altura del botón en píxeles */
    background-image: url("/img/logo2.png"); /* Ruta de la imagen de fondo */
    background-size: 80%; /* Ajusta la imagen al tamaño del botón */
    background-position: center; /* Centra la imagen en el botón */
    background-repeat: no-repeat; /* Evita la repetición de la imagen en el botón */
    color: #0c0505;
    border: 2px solid #2c19ab; /* Agrega un borde al botón */
    margin: 4px;
    cursor: pointer;
    margin-right: 5px;
    margin-bottom: 5px;
    vertical-align:top;
    text-align: left; /* Alinea el texto a la izquierda */
    justify-content: top;
    padding: 1px;
}