label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="number"],
  input[type="file"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    font-size: 10px;
    width: 100%;
    margin-bottom: 20px;
  }
  
  input[type="radio"] {
    margin-right: 10px;
  }
  
  .form-group {
    text-align: center;
  }
  
  button[type="submit"] {
    background-color: #1e4cb9;
    color: white;
    padding: 1% 4%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 0 center;
  }

  .pagos{
    background-color: rgba(57, 58, 162, 0.6);
    position: center;
    border-radius: 3%;
    margin-left: center;
    padding: 2%;
    color: white;
    
  }

  .img-qr img{
    width: 250px;
    height: 250px;
    margin-left: 20px;
  }
  
  