label {
  display: block;
  font-weight: bold; 
}
  
input[type="text"],
input[type="number"],
input[type="file"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
  font-size: 10px;
  margin-bottom: 20px;
}
  
 input[type="radio"] {
  margin-right: 10px;
}
  
.form-group label {
  text-align: auto;
  color: white;
}

.container.contact-form{
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    border-radius: 3%;
    /*margin-left: center;*/
    padding: 2%;
    color: white;
    width: 50%;
}

.btn-pago {
  float: right;
  background-color: #1e4cb9;
  border-radius: 4px;
  cursor: pointer;
  color: white;
  padding: 1% 4%;
}

/*Estilos de para pago por QR*/
.img-qr img {
  width: 250px;
  height: 250px;
  margin-left: 20px;
}

.custom-columnsQR {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.custom-columnsQR label {
  margin-right: 40px;
}
