.card-parqueos {
    background-image: url("/img/fondoCars2.gif");
    background-position: center;
    background-color: rgba(20, 2, 2, 0.20);
    background-size:cover;
    color: white;
    margin-top: 3%;
    
    /*width: max-content;*/
  }

.menu-action{
    display:flex;
    text-align: center;
    justify-content:flex-end;
    margin-left: 30%;
    /*width: max-content;*/
    
}

.card-header{
    display: flex;
}

.eliminar-parqueo{
    margin-left: 30%;
    padding-left: 30%;
}

.card-body-info{
    padding: 15px;
}

.card-body-info table th{
    color: white;
}

.card-body-info table td{
    color: white;
}

table {
    border-collapse: collapse;
    background-color: black;
}
  
td, th {
    border: 1px solid rgb(255, 255, 255);
    padding: 8px;
}